# Build directories
build/
cmake-build-*/

# IDE
.idea/
.vscode/
*.xcodeproj/
*.xcworkspace/

# macOS
.DS_Store

# JUCE
Builds/

# Compiled files
*.o
*.a
*.dylib
*.so
*.dll

# Plugin formats
*.vst3/
*.component/
*.app/
